
    <h1>New Auction Item</h1>
    <%= form_with(model: @auction, local: true) do |form|%>
        <% if @auction.errors.any? %>
            <ul>
                <% @auction.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
                <% end %>
            </ul>
        <% end %>
        <div>
            <%= form.label :title%><br>
            <%= form.text_field :title %>
        </div>
        <div>
            <%= form.label :body %><br>
            <%= form.text_area :body, cols: 50, rows:5%>
        </div>
        <div>
            <%= form.date_field :end_date, as: :end_date, value: form.object.try(:strftime,"%m/%d/%Y"), class: 'form-control' %>
        </div>
        <div>
            <%= form.label :reserve_price %><br>
            <%= form.text_field :reserve_price %>
            <br>
            <%= form.submit %>
        </div>
    <% end %>
