<h1><%= @auction.title %></h1>
<p><%= @auction.description %></p>
<p>Current Price: <%= @auction.reserve_price %></p>
<p>Ends at: <%= @auction.end_date %></p>

<% if @auction.user != current_user %>
    <%= form_with(model: [@auction, @bid], local: true) do |f| %>
            <% if @bid.errors.present? %>
                <p class="form-errors">
                    <%= @bid.errors.full_messages.join(", ") %>
                </p>
            <% end %>

            <div class="form-group">
                <%= f.text_field(
                    :amount,
                    cols: 50,
                    rows: 3,
                    placeholder:"e.g. $100",
                    class: "form-control"
                ) %>
            </div>
            <%= f.submit 'bid' %>
    <% end %>
<% end %>


<h3>Previous Bids:</h3>
<% if @bids.all.length != 0 %>
    <% @bids.each do |bid| %>
    <p>$<%=bid.amount%> on <%= bid.created_at %></p>
    <% end %>
<% else %>
    <p>No previous bids to date.</p>
<% end %>
